html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      background: black;
      color: #fff;
}

body {
      font-family: 'Do Hyeon', sans-serif;
      font-weight: lighter;
}

header {
      width: 100%;
      height: 100vh;
      background: url(PacManGIF.gif) no-repeat 50% 50%;
      background-size: cover;
}

#togglebgm {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 14px 13px;
    border: 0px solid #a12727;
    border-radius: 0px;
    background: #ffe100;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffe100), to(#fafa87));
    background: -moz-linear-gradient(top, #ffe100, #fafa87);
    background: linear-gradient(to bottom, #ffe100, #fafa87);
    -webkit-box-shadow: #ffc64a 0px 4px 9px 3px;
    -moz-box-shadow: #ffc64a 0px 4px 9px 3px;
    box-shadow: #ffc64a 0px 4px 9px 3px;
    font: normal normal bold 11px arial;
    color: #ffffff;
    text-decoration: none;
}
#togglebgm,
#togglebgm:focus {
    background: #ffff00;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffff00), to(#ffffa2));
    background: -moz-linear-gradient(top, #ffff00, #ffffa2);
    background: linear-gradient(to bottom, #ffff00, #ffffa2);
    color: #ffffff;
    text-decoration: none;
}
#togglebgm:active {
    background: #998700;
    background: -webkit-gradient(linear, left top, left bottom, from(#998700), to(#fafa87));
    background: -moz-linear-gradient(top, #998700, #fafa87);
    background: linear-gradient(to bottom, #998700, #fafa87);
}
#togglebgm:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: -1px;
    left: 5px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABtklEQVRIicXVsWtTURQG8F9rCB1KlCKhlBJCB3Eo0kEcJINjKZlKh4pOoiIOKo62uiiCOKmrrU6dxLGzSIci/gHiJKGISOlQHFSKONz7yMtr8voaGvpNl/vuPed8933nOwwYQ33cGcciSniL7bzDJw4ZvIlZrOAk/uBn3oXhgoEreITfeIod/D1kcT3RwGOcxggW4n4T06jHb11Ryglcxj18w0PM4DJeZM6dQQ1VbGENewdVfQ7PMBmLuI1rOp80YZDGlMB2PNkYwtVYwb+4N4wfgkKmcEP4qV8zwZqR3UWcwkdsRuZLeI5fhGcY6cKigTvxQjekGZQwF5nCWIybq6INvFRMLXtYx2fMa6tsrKhMi+ITzsb1BzSOOgHsYhQtTA4iQQcGkaAiqKeGraNOcAFf4voSNvISNASp9ZJpGolMz+O9INMydkqC3d7X2WjbeI3vQme+SVWWxU3tRluPge8KjdYT04JV1GJ1t3BdcauoJht5A6csdHIL72KwK3glmFpiFRP6MLs0snY9n2FQl2PXRVHBsjDNEnR7on0oKtNdPInnH2ir5ED0M/SrwtAvY1UwtuPDf5opTk6a02OvAAAAAElFTkSuQmCC") no-repeat left center transparent;
    background-size: 100% 100%;
}

.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}


.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}


nav.black ul {
      background: #000;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;
}


nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 22px;
      transition: 0.3s all ease-in-out 0s;
}

nav ul li a:hover {
      color: yellow;
      transition: 0.3s all ease-in-out 0s;
}




.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

.startButton{
	padding-top: 100px;
	text-align: center;
      width: 100%;
}

.call-button{
	color:  #fff;
      border: 5px solid #fff;
	font-size: 30px;
	padding: 10px 30px;
      text-transform: uppercase;
      text-decoration: none;
      transition: 0.2s all ease-in-out 0s;
}

.call-button:hover {
      color: yellow;
      border: 5px solid yellow;
	font-size: 30px;
	padding: 10px 30px;
      text-transform: uppercase;
      transition: 0.2s all ease-in-out 0s;
}

.starButtonForPacmanPage{
	text-align: right;
      padding-top: 15%;
      padding-right: 22%;
}





@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}
